$red: #ff4d4d;
$green: #7CFC00;
$blue: #191970;
$very_light_grey: #f6f6f6;
$light_grey: #e9e9e9;
$grey: #ddd;
$dark_grey: #d0d0d0;
$very_dark_grey: #808080;
$mostly_black: #262626;
$shadow_color: rgba(0,0,0,.2);